@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideUpReplace {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp{
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up{
  animation: slideUp 1s ease-out;
}

.slide-up {
  animation: slideUpReplace 1s ease-out;
}